/setup/*
/out/downloads/*
/admin/*
/core/*
/export/*
/log/*
/modules/*
!/modules/marm*
/out/admin/*
/out/azure/*
/out/de/*
/out/en/*
/out/media/*
/out/pictures/*
/out/downloads/*
/application/components/*
/application/controllers/*
/application/models/*
/application/translations/*
/application/views/azure/*
/application/views/admin/*
/tmp/*
/cache/*
/bin/*
/bootstrap.php
/.htaccess
/COPYING
/README
/config.inc.php
/favicon.ico
/index.php
/widget.php
/offline.html
/oxid.php
/oxseo.php
/pkg.rev
/robots.txt
/xd_receiver.htm
.tmp*
/.project
/.settings/org.eclipse.core.resources.prefs
*.*~ 
/modules/marm/solr/*
/modules/marm/libreka/*
/modules/marm/picturesubdirs/*
/nbproject/*